*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans serif;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-700px);
    animation: headerAnim 2.5s forwards;
}

@keyframes headerAnim {
  to {
    transform: translateY(0);
  }
}

form{
    background: rgb(225, 225, 225);
    border-radius: 10px;
    padding: 10px;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 10%;
}

label
{
	display: inline-block;
	width: 200px;
    font-size: 1.2rem
}
input,select{
    border: hidden;
    border-bottom: 1px solid gray;
    background: transparent;
    outline: none;
}


.submit{
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 15PX auto 0;
}
input[type="submit"]{
    width:100px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgba(19, 68, 68, 0.274);
    border-radius: 30px;
    transition: 0.3s;
    font-family: Poppins;
}
input[type="submit"]:hover{
    transform: scale(1.1);
}

